
.Output {
  position: absolute;
  top: 100px;
  bottom: 30px;
  width: 100%;
  text-align: left;
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.Output > p {
  padding: 0;
  margin: 2px 0 2px .5em;
  color: hotpink;
  font-size: 1.1em;
}

/* vim:set ts=2 sw=2 et syn=css: */
